<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esolution.vastrafashiondesigner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vastra.NoActionBar">
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.startup.RegisterCreateCatalogueActivity" />
        <activity android:name=".ui.newproduct.SelectProductTypeActivity" />
        <activity android:name=".ui.newproduct.AddProductInfo1Activity" />
        <activity android:name=".ui.newproduct.AddProductInfo2Activity" />
        <activity android:name=".ui.newproduct.AddProductInfo3Activity" />
        <activity android:name=".ui.newproduct.AddProductImagesActivity" />
        <activity android:name=".ui.newproduct.addcolor.SelectProductColorsActivity" />
        <activity android:name=".ui.newproduct.AddProductSizeActivity" />
        <activity android:name=".ui.newproduct.AddProductInventoryActivity" />
        <activity android:name=".ui.newproduct.addsize.ProductSizesActivity" />
    </application>
</manifest>